%strong
  = @answer.question
- if @answer.is_bool?
  = form_for(@answer)
    = f.hidden_field :reply, "True"
    = f.submit "はい (Yes)"
  = form_for(@answer)
    = f.hidden_field :reply, "False"
    = f.submit "いいえ (No)"
- else
  = form_for(@answer)
    = f.text_field :reply
    = f.submit "送信 (Submit)"
