%p#notice= notice
%p
  %strong Subject:
  = @questionnaire.subject
%p
  %strong Content:
  = @questionnaire.content
%p
  - @questionnaire.answers.each do |answer|
    = answer.member.name
    = answer.question_type
    = answer.question
    = answer.reply
= link_to 'Back', questionnaires_path
