<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Name kana:</strong>
  <%= @member.name_kana %>
</p>

<p>
  <strong>Section:</strong>
  <%= @member.section %>
</p>

<p>
  <strong>Note:</strong>
  <%= @member.note %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @member.url %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
